.article {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
}

.article img {
  height: 100%;
  width: 100%;
}

.content {
  padding: 10px;
}

.article-short-top {
  border: 1px solid #ddd;
}

.article-short-bottom {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
